# --- Python Virtual Environments ---
.venv/
venv/
ENV/
__pycache__/
*.pyc

# --- Nix & Direnv Caches ---
.direnv/
result
result-*

# --- PyCharm/JetBrains IDE Caches ---
.idea/
*.iml

# --- Node module folder ---
node_modules/

# --- System & Misc Garbage ---
.DS_Store
Thumbs.db

# --- Environment Variables ---
.envrc
